@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-clr: #76146E;
    --light-clr: #F9F9F9;
    --dark-clr: #242424;
    --dark-pink-clr: #C10A93;
    --ligh-pink-clr: #FDEBED;
    --light-blue-clr: #DDF3F5;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 115%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
    text-transform: uppercase;
}

p, li {
    color: var(--dark-clr);
    font-size: .875em;
    line-height: 150%;
}

details {
    cursor: pointer;
}

.hidden {
    position: absolute;
    left: -999px;
    opacity: 0;
}

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.maxWidth {
    max-width: 71.25em;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.btn {
    display: inline-block;
    color: var(--ligh-pink-clr);
    text-decoration: none;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 2em;
    background-image: linear-gradient(45deg, #005261, #00A7C7);
}

.wrapper--light {
    background-color: var(--light-clr);
}

.wrapper--pink {
    background-color: var(--ligh-pink-clr);
}

.wrapper--blue {
    background-color: var(--light-blue-clr);
}

.wrapper--purple {
    background-color: var(--primary-clr);
}

.wrapper--bg {
    background-size: cover;
    background-position: center;
    position: relative;
}

.wrapper--blue h2, .wrapper--blue h1 {
    color: var(--primary-clr);
    margin-bottom: 1em;
}

.subtitle {
    font-weight: 400;
    font-family: inherit;
}

.container-padding {
    padding: 2em 1em;
}

/*header*/

.main-header__menu img {
    display: block;
    width: 3.2rem;
}

.main-header__toggle {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: .5em  .625em;
    border-radius: .25em;
}

.main-header__toggle:hover, .main-header__toggle:active {
    background-color: color-mix(in srgb, var(--dark-clr), transparent 90%);
}

.main-header {
    padding: .5em 1em;
    position: relative;
    text-align: center;
}

.main-header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo img {
    height: 2em;
}

.main-header__menu {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   z-index: 10;
}

.close {
    display: none;
}

.show {
    display: block;
}

.main-header__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header__menu a img {
    margin: 0 auto;
}

.main-header__menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: var(--primary-clr);
    color: var(--light-clr);
}

.main-header__menu a:hover, .main-header__menu a:active {
    background-color: color-mix(in srgb, var(--primary-clr), #fff 20%);
}

/*banner*/
.banner {
    text-align: center;
    padding: 3em 1em;
}

.banner__content {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .15));
}

.banner__content__title {
    font-style: italic;
    color: var(--primary-clr);
}

.banner__content__title b {
    font-weight: 700;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--ligh-pink-clr), transparent 25%);
    z-index: 1;
}

/*Light content*/
.light-content {
    text-align: center;
}

.light-content p {
    text-align: justify;
    margin-bottom: 1em;
}

.light-content p:last-of-type {
    margin-bottom: 0;
}

/*cta*/
.cta .row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta {
    text-align: center;
}

.cta p {
    color: var(--dark-clr);
    font-size: 1.25em;
    margin-top: 0;
}

/*Footer*/
.main-footer {
    text-align: center;
}

.main-footer p {
    padding: .5em 0;
    color: var(--light-clr);
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .light-content p {
        margin-left: auto;
        margin-right: auto;
        max-width: 80ch;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.8em;
    }

    .subtitle {
      font-size: 1.11em;
    }

    .main-header__toggle {
      display: none;
    }
  
    .main-header__menu {
      display: block;
      width: auto;
      position: static;
    }
    
    .main-header__menu ul {
      display: flex;
      align-items: center;
    }
  
    .main-header__menu a {
      color: var(--dark-clr);
      background-color: transparent;
    }
  
    .main-header__menu a:hover, .main-header__menu a:active {
      color: var(--primary-clr);
      background-color: transparent;
    }

    .banner__content {
        position: relative;
        z-index: 2;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .35));
    }
    
    .banner h1 {
    font-size: 2em;
    }
    
}