@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-clr: #76146E;
    --light-clr: #F9F9F9;
    --dark-clr: #242424;
    --dark-pink-clr: #C10A93;
    --ligh-pink-clr: #FDEBED;
    --light-blue-clr: #DDF3F5;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    line-height: 115%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

p, li {
    color: var(--dark-clr);
    font-size: .875em;
    line-height: 150%;
}

.hidden {
    position: absolute;
    left: -999px;
    opacity: 0;
}

.row {
    display: flex;
}

.maxWidth {
    max-width: 71.25em;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.btn {
    color: var(--ligh-pink-clr);
    text-decoration: none;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 2em;
    background-image: linear-gradient(45deg, #005261, #00A7C7);
}

.wrapper--light {
    background-color: var(--light-clr);
}

.wrapper--pink {
    background-color: var(--ligh-pink-clr);
}

.wrapper--blue {
    background-color: var(--light-blue-clr);
}

.wrapper--purple {
    background-color: var(--primary-clr);
}

.wrapper--bg {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
/*header*/
.main-header__menu img {
    display: block;
    width: 3.2rem;
}

.main-header__toggle {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: .5em  .625em;
    border-radius: .25em;
}

.main-header__toggle:hover, .main-header__toggle:active {
    background-color: color-mix(in srgb, var(--dark-clr), transparent 90%);
}

.main-header {
    padding: .5em 1em;
    position: relative;
    text-align: center;
}

.main-header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo img {
    height: 2em;
}

.main-header__menu {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   z-index: 10;
   display: none;
}

.main-header__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header__menu a img {
    margin: 0 auto;
}

.main-header__menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: var(--primary-clr);
    color: var(--light-clr);
}

.main-header__menu a:hover, .main-header__menu a:active {
    background-color: color-mix(in srgb, var(--primary-clr), #fff 20%);
}

/*banner*/
.banner {
    text-align: center;
    padding: 3em 1em;
}

.banner__content {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.banner__content__title {
    font-style: italic;
    color: var(--primary-clr);
}

.banner__content__title b {
    font-weight: 700;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--ligh-pink-clr), transparent 30%);
    z-index: 1;
}

/*aboutUs*/

.aboutUs {
    padding: 2em 1em;
    text-align: center;
}

.aboutUs p {
    text-align: justify;
}

/*ourJourney*/
.ourJourney {
    padding: 2em 1em;
}

.ourJourney .row {
    flex-direction: column;
}

.ourJourney__title {
    color: var(--primary-clr);
    text-align: center;
}

.ourJourney__title em {
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}

.ourJourney ul {
    padding: 0;
    list-style-type: none;
}

.ourJourney li:nth-child(2n) {
    margin: 1em 0;
}

.ourJourney li::before {
    content: "•";
    font-size: 10pt;
    margin-right: .625em;
}

.ourJourney__img {
    display: block;
}


/*cta*/
.cta {
    text-align: center;
    padding: 2em 1em;
}

.cta p {
    color: var(--ligh-pink-clr);
    font-size: 1.25em;
    margin-bottom: 1.5em;
}
/*services*/
.services {
    text-align: center;
    padding: 2em 1em;
}


.services .row {
    gap: 1.5em;
}

.services__gallery {
    overflow: auto;
    width: 80%;
    margin: 0 auto;
}

.services__gallery article {
    min-width: 100%;
    position: relative;
    margin-bottom: 1em;
    cursor: pointer;
    overflow: hidden;
}

.services__gallery article:hover img {
    transform: scale(1.5);
}

.services__gallery img {
   transition: .5s ease;
   display: block;
   width: 100%;
}

.services__gallery h3 {
    margin: 0;
    color: var(--light-clr);
    font-weight: lighter;
    font-size: .875em;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .25em;
    background-color:  color-mix(in srgb, var(--dark-clr), transparent 40%);
    position: absolute;
    font-family: inherit;
}
/*Footer*/
.main-footer {
    text-align: center;
}

.main-footer p {
    padding: .5em 0;
    color: var(--light-clr);
    margin: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .ourJourney .row {
        flex-direction: row;
        gap: 2em;
    }

    .ourJourney__img {
        width: 50%;
    }

    .ourJourney ul {
        width: 50%;
    }

    .aboutUs p {
        margin: 0 auto;
        max-width: 75ch;
    }

    .ourJourney ul {
        order: 1;
    }

    .services__gallery article {
        min-width: calc(50% - .75em);
    }

    .ourJourney__title {
        margin-bottom: 2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.8em;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__menu {
    display: block;
    width: auto;
    position: static;
  }
  
  .main-header__menu ul {
    display: flex;
    align-items: center;
  }

  .main-header__menu a {
    color: var(--dark-clr);
    background-color: transparent;
  }

  .main-header__menu a:hover, .main-header__menu a:active {
    color: var(--primary-clr);
    background-color: transparent;
  }

  .banner__content {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .35));
}

  .banner h1 {
    font-size: 2em;
  }

  .banner p {
    font-size: 1.11em;
  }

  .ourJourney {
    position: relative;
  }

  .ourJourney__img {
    width: 40%;
  }


  .ourJourney ul {
    width: 60%;
  }

  .ourJourney__title {
    text-align: left;
    margin-left: calc(40% + 1em);
    margin-bottom: 1em;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .services__gallery {
        overflow: auto;
        width: 90%;
        margin: 0 auto;
    }

    .services__gallery article {
        min-width: calc(25% - 1.5em);
    }
}